.RSPBprogressBar {
  line-height: 2 !important;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 15px;
}
 
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  transition: background-color 0.5s ease !important;
}

.circle.accomplished {
  background-color: orange !important;
}

.inner-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.tooltip {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: lightgrey;
  border-radius: 10px;
  width: 60px;
  color: black;
  font-weight: normal;
  position: relative;
  transition: background-color 0.5s ease, color 0.5s ease, font-weight 0.2s ease;
}

.tooltip.accomplished {
  background-color: orange;
  color: white;
  font-weight: bold;
}

.tooltip-arrow {
  position: absolute;
  left: 23px;
  bottom: 33px;
  border-top: 5px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 10px solid lightgrey;
  transition: border-bottom-color 0.5s ease;
}

.tooltip.accomplished .tooltip-arrow {
  border-bottom-color: orange;
}